/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700;800;900&family=Inter:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Archivo", sans-serif !important;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

/* Header */
.logo {
  width: 5.5rem;
  margin: 1rem 0rem 0rem 1rem;
}
.logo2 {
  width: 5rem;
  margin: 1rem 0rem 0rem 1rem;
  animation: spin-scale 3.6s infinite;
}

.logo2:hover {
  animation-play-state: paused; /* Pausar a animação ao passar o mouse */
}
@keyframes spin-scale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0rem !important;
}
.descriptionsHeader {
  display: flex;
  align-items: center;
  height: 8rem;
  justify-content: space-between;
}
.buttonOrcament {
  width: 11rem;
  background-color: #3f3d56;
  color: #f9d726;
  margin-right: 5vw;
  border: none;
  padding: 8px;
  border-radius: 15px;
  font-weight: 600;
  border: none;
  box-shadow: 0 3.5px 5px #000000;
  transition: transform 0.3s, box-shadow 0.3s;
}
.buttonOrcament:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 12px #000000;
  color: #3f3d56;
  background-color: #f9d726;
}
.my-element {
  width: 12rem;
  height: 14rem;
  clip-path: circle(70% at 80% 30%);
  background-color: #f9d726;
  margin-top: -8rem;
  z-index: -1;
}
.textsYellow {
  color: #f9d726;
}

/* Section One */

.mainSectionOne {
  margin-left: 2rem;
}
.mainSectionOne h3 {
  font-size: 2rem;
}
.yourSite {
  font-weight: 600;
  /* font-family: 'Archivo', sans-serif; */
  font-size: 5.5rem;
}
.buttonOrcamentSectionOne {
  margin-top: 1rem;
  /* width: 15rem; */
  /* background-color: #3F3D56; */
  background: #f9d726;
  color: #3f3d56;
  margin-right: 5vw;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-weight: 600;
  position: relative;
  letter-spacing: 0.1em;
  transition: 0.3s;
}
.buttonOrcamentSectionOne:hover {
  color: #f9d726;

  letter-spacing: 0.25em;
  background-color: var(--clr);
}

.section-two {
  height: 100%;
}
.spacingFuncoes {
  gap: 5rem;
  display: flex;
  /* margin-top: 20%; */
}
.titleFuncoes {
  font-weight: 600;
  color: #f9d726;
}
.paragraphFuncoes {
  font-weight: 600;
  margin-bottom: 0 !important;
}

.containerFormContact {
  border: 3px solid #000;
  padding: 4rem;
  border-radius: 20%;
}
.inputFormContact {
  /* border: 1.5px solid #3f3d56; */
  border: none;
  border-bottom: 2px solid #000;
  padding: 5px;
  /* border-radius: 20px; */
}
.inputFormContact:focus {
  outline: none;
  border-bottom: 2px solid #f9d726;

  /* outline: none; */
  /* border: none !important; */
}
.submitFormContact {
  background-color: #f9d726;
  color: #242331;
  font-weight: 600;
  border-radius: 10px;
  padding: 6px;
  width: 100%;
  border: none;
  transition: 0.3s ease-in-out;
}
.submitFormContact:hover {
  background-color: #242331;
  color: #f9d726;
}
.infosBeaulty {
  max-width: 23rem;
  margin-right: 1rem;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.titlePortfolio {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem !important;

  transition: 0.6s;
  letter-spacing: 5px;
  font-size: 2.3rem;
  font-weight: 900;
}
.titlePortfolio:hover {
  letter-spacing: 10px;
}

.mySites {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #000;
  /* height: 80vh; */
  /* margin-bottom: 20vh; */
}
.paragraph-img {
  margin-bottom: 5px;
  font-size: 17px;
  /* display: none; */
  transition: opacity 0.3s ease-in;
}
.text {
  min-height: 200px;
  position: relative;
}
.buttons {
  /* display: inline-block; */
  /* padding: 4px; */
  margin: 10px;
  background-color: transparent;
  /* position: absolute; */
  /* border: 2px solid #212992; */
  border-radius: 5px;
  width: 295px;
  height: 165px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /* color: #00d7c3; */
  /* border: 0.1px solid #dadada; */
}
.buttons:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 0 #f9d726 inset, 0 0 20px 2px #f9d726;
  border: 0px solid #bbbbbb;
}
@keyframes neon-glow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#imagem {
  width: 300px;
}
.random-image {
  width: 320px;
  position: relative;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s;
}

.random-image.show {
  opacity: 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* .whatsapp-icon {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1000;
  display: inline-block;
} */
.whatsapp-icon a {
  animation: alerta 1.5s infinite;
  transition: box-shadow 500ms ease-in-out;
  box-shadow: 0 0 0 0 rgba(9, 165, 19, 0.7);
}

.whatsapp-icon a {
  /* background: #25d366; */
  display: flex;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.help {
  position: absolute;
  bottom: 100%;
  /* left: 50%; */
  transform: translateX(-50%);
  background-color: #f9d726;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  font-weight: 600;
}

.whatsapp-icon:hover .help {
  opacity: 1;
}
@keyframes alerta {
  0% {
    transform: scale();
  }
  70% {
    transform: scale();
    box-shadow: 0 0 0 30px rgba(69, 152, 27, 0);
  }
  100% {
    transform: scale();
    box-shadow: 0 0 0 0 rgba(69, 152, 27, 0);
  }
}
.iconWhatsapp {
  width: 4rem;
  fill: #29a71a !important;
}
.footer {
  height: 100%;
  background-color: #000;
}
.gradient-heading {
  background-image: linear-gradient(to right, #f9d726, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.7rem;
  margin-right: 1.5rem;
}
.responviseMargin {
  margin-left: 1rem;
}
.whatsapp-icon {
  background-size: cover;
  background-position: center;
  position: fixed;
  bottom: 35px;
  right: 30px;
  animation: move 3s infinite alternate ease-in-out;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(2px, 8px);
  }
  50% {
    transform: translate(10px, 5px);
  }
  75% {
    transform: translate(9px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media (max-width: 1170px) {
  .infosBeaulty {
    margin-right: 0;
  }

  .spacingFuncoes {
    flex-wrap: wrap;
  }
  .responviseMargin {
    margin-left: 0rem;
  }
}
.descriptionSite {
  max-width: 28%;
  color: #fff;
}
.contactFooter {
  width: 26.5%;
  /* text-align: end; */
  /* margin-top: -8rem; */
  color: #d8d8d8;
}
.imgsContact {
  height: auto;
  width: 1.8rem;
  margin-right: 0.8rem;
  transition: 0.1s;
}
.imgsContact:hover {
  transform: scale(1.1);
}
@media (max-width: 1059px) {
  .descriptionSite {
    width: 35%;
  }
}
@media (max-width: 831px) {
  .infosBeaulty {
    max-width: 35rem;
    /* margin-right: 1rem; */
  }
}
@media (max-width: 800px) {
  .responsiveSectionOne {
    flex-wrap: wrap;
  }
  .descriptionSite {
    max-width: 50%;
    width: 100%;
    font-size: 1rem;
  }
  .responsiveFooter {
    height: 40vh;
    justify-content: space-around;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 600px) {
  .infosBeaulty {
    margin-left: 1rem;
  }

  .logo2 {
    width: 4rem;
    margin: 1rem 0rem 0rem 1rem;
  }

  .svgResponsive {
    width: 80%;
    height: auto;
    margin-bottom: 3rem;
  }
}
@media (max-width: 570px) {
  .descriptionSite {
    max-width: 60%;
    width: 100%;
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .fontSize_footer {
    font-size: 0.8rem;
  }
  .infosBeaulty {
    max-width: 20rem !important;
  }
}
@media (max-width: 450px) {
  .containerFormContact {
    border: 2.5px solid #3f3d56;
    padding: 3rem;
  }
  .descriptionSite {
    max-width: 80%;
  }
  .fontSize_footer {
    font-size: 0.6rem;
  }
  .buttonOrcament {
    margin-right: 2.5rem;
  }
  .iconWhatsapp {
    width: 3.5rem;
    fill: #29a71a !important;
  }
}
@media (max-width: 390px) {
  .iconWhatsapp {
    width: 3rem;
    fill: #29a71a !important;
  }
  .containerFormContact {
    padding: 0;
    border: none;
  }
  .contactFooter {
    justify-content: center !important;
  }
  .paragraphFuncoes {
    width: 90%;
  }
}
